@charset "utf-8";
body{
		padding: 0px;
		margin: 0px;
	}
.top{
	background-color: white;
	height: 100px;
}
.menu_bar button{
	background-color:#ff7867;
	width: 100px;
	height: 50px;
	font-size: 20px;
	color: white;
	border: #27D68C;
	border-radius: 25px;
}