/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Table test */
.tabletest {
	table-layout:auto;
	width:100%;
	height:60px;
	text-align:center;
	line-height:60px;
	background:white;
	font-size:20px;
	border-radius:5px;
	border-color: pink;
	border-bottom-style: solid;
	border-collapse: collapse;
}

/* .pagination {
	display:block;
	text-align:center;
    justify-content: center;
}
.pagination > li > a {
	float:none;
} */

tr { 
border-top: 1px solid black; 
border-bottom: 1px solid black; 
}
.ddd {
  border: 1px solid #ffebb5; 
  background-color: #ffebb5; 
  border-radius: 16px;
  box-shadow: inset 0 0 8px #deb13a;
  width: 160px; height: 160px;
}
.tabletest11{
	position:
	float:left;
	width:10%;
	height:50%;
	text-align:center;
	line-height:19px;
	background:pink;
}
.tabletest2{
	position:absolute; 
	width:50px;
	height:20px;
	padding-top:3px;
	background-color:black;
	text-align:center;
	display:block;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-bottom-color:#3F8600;
	font-weight:bold;
}

body {
  /* font-size: 1.2em; */
  /* font-family:"Poppins", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  font-family: 'Poppins', sans-serif;
  color: black;
  background-color: #036a37;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjus: 100%;
}

#Information1 {
  position: relative;
  text-align: left;
  height: 0px;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
h5,
h6 {
  font-size: 1.3em;
}

h1,
h2,
h3,
h4,
p {
  margin: 25px 5px;
  font-size: 1.5em;
}

h1 {
  font-size: 2.9em;
}

#mainT {
  font-size: 4em;
}
#sub {
  font-size: 5em;
}
#sub2 {
  font-size: 2.1em;
}

#wrap {
  width: 100%;
  /* margin-top = header height */
  margin-top: 10px;
}

/* Navigation bar */
header {
  /* for sticky header */
  position: fixed;
  top: 0%;

  width: 100%;
  height: 80px;
  z-index: 2000;
  background-color: white;
  box-shadow: 0 5px 5px rgba(129, 128, 128, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}


.aside {
  position: fixed;
  top: 0px;
  bottom: 0;
  width: 180px;

  padding-top: 0px;
  background-color: white;
  /* #0066ff */
}


/* menu font */
aside > ul > li > a {
  display: block;
  color: #0066ff;
  padding: 10px 0 10px 20px;
}

/* Section */
section {
  float: right;
  /* aside width */
  margin-top: -250px;
  margin-left: 100px;
}
article {
  color: black;
  margin: 70px;
  padding: 110px;
  background-color: #fff;
}
.hr1 {
  size: 50%;
  border: inset 10px black;
}
.hr2 {
  size: 50%;
  border: inset 2px pink;
}

/* footer */
footer {
  position: absolute;
  height: 60px;
  width: 100%;
  padding: 0 25px;
  line-height: 60px;
  color: #8a8c8f;
  border-top: 1px solid #fff;
  background-color: #fff;
}
