<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.project.mappers.article.articleMapper">

<!--     <sql id="criteria">
        <trim prefix="(" suffix=") AND">
            <foreach collection="typeArr" item="type" separator="OR">
            제목
                <if test="type == 'T'.toString()">
                    title like '%'||#{keyword}||'%'
                </if>
            내용(모집중)
                <if test="type == 'C'.toString()">
                    content like '%'||#{keyword}||'%'
                </if>
            작성자
                <if test="type == 'W'.toString()">
                    writer like '%'||#{keyword}||'%'
                </if>
            지역구 
                <if test="type == 'A'.toString()">
                    writer like '%'||#{keyword}||'%'
                </if>   
                
            </foreach>
        </trim>
    </sql> -->





<!--     <insert id="create">
        <selectKey order="AFTER" keyProperty="articleNo" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO study.tbl_article (
            
              title
            , content
            , writer
            , regdate
            , viewcnt
        ) VALUES (
            	
               #{title}
             , #{content}
             , #{writer}
        )
    </insert> --><!--  -->
	<insert id="meeting" parameterType="MeetingVO">
	  <![CDATA[
		INSERT INTO study.tbl_mypage (my_id,my_join_no)
	            values(#{joinId},#{meetNo})
	  ]]>
  	</insert>
  
  
    <select id="read" resultMap="ArticleResultMap">
    <![CDATA[
        SELECT
            meet_no,
            meet_group_name,
            DATE_FORMAT(meet_registration_date, '%Y-%m-%d') as meet_registration_date,
            meet_jibunaddress,
            meet_category_code,
            meet_study_time,
            meet_level,
            meet_count,
            meet_phone,
            meet_detail

        FROM
            study.tbl_meet
        WHERE meet_no = #{meetNo}
        ]]>
    </select>








<!--     <update id="update">
        UPDATE study.tbl_article
        SET
            title = #{title}
          , content = #{content}
          , writer = #{writer}
          , regdate = SYSDATE
          
        WHERE
            article_no = #{articleNo}
    </update>

    <delete id="delete">
        DELETE FROM study.tbl_article
        WHERE article_no = #{articleNo}
    </delete> -->

<!-- meet테이블  -->
	<!-- <select id ="listAll" resultMap = "ArticleResultMap">
		<![CDATA[
		SELECT
			 meet_name
			,meet_detail
			,meet_category_code
			,meet_group_name
			,meet_phone
			,meet_level
			,meet_count
			,meet_hit
			,meet_postcode
			,meet_roadaddress
			,meet_jibunaddress
			,meet_detailaddress
			,meet_study_date
			,meet_study_time
		FROM study.tbl_meet
		WHERE meet_no > 0
		ORDER BY meet_no DESC
		]]>
	</select> -->

     <select id="listAll" resultMap="ArticleResultMap">
        <![CDATA[
        SELECT
            meet_no,
            SUBSTRING_INDEX(meet_jibunaddress,' ',3) as meet_jibunaddress,
            meet_name,
            meet_group_name,
            DATE_FORMAT(meet_registration_date, '%Y-%m-%d') as meet_registration_date
            

        FROM study.tbl_meet
        WHERE meet_no > 0 && meet_del ='N'
        ORDER BY meet_no DESC
        ]]>
    </select> 
    
    <select id = "listPaging" resultMap="ArticleResultMap">
    	<![CDATA[
    	SELECT
			meet_no,
            SUBSTRING_INDEX(meet_jibunaddress,' ',3) as meet_jibunaddress,
            meet_name,
            meet_group_name,
            DATE_FORMAT(meet_registration_date, '%Y-%m-%d') as meet_registration_date
		FROM study.tbl_meet
        WHERE meet_no > 0
        order by meet_no DESC, meet_registration_date DESC
        LIMIT #{page}, 10
    	]]>	
    </select>
    
    <select id = "listCriteria" resultMap="ArticleResultMap">
    	<![CDATA[
    	SELECT
			meet_no,
            SUBSTRING_INDEX(meet_jibunaddress,' ',3) as meet_jibunaddress,
            meet_name,
            meet_group_name,
            DATE_FORMAT(meet_registration_date, '%Y-%m-%d') as meet_registration_date
		FROM study.tbl_meet
        WHERE meet_no > 0
        order by meet_no DESC, meet_registration_date DESC
        LIMIT #{pageStart}, #{perPageNum}
    	]]>	
    </select>

	<select id = "countArticles" resultType = "int">
	
		<![CDATA[
		SELECT
			COUNT(meet_no)
			FROM study.tbl_meet
			WHERE meet_no > 0
		]]>	
	</select>

<!--  <select id="listPaging" resultMap="ArticleResultMap">
        <![CDATA[
        SELECT
            meet_no,
            SUBSTRING_INDEX(meet_jibunaddress,' ',3) as meet_jibunaddress,
            meet_name,
            meet_group_name,
            DATE_FORMAT(meet_registration_date, '%Y-%m-%d') as meet_registration_date,
            meet_del
        FROM study.tbl_meet   
        WHERE meet_del = 'N'
        ORDER BY meet_no DESC
        LIMIT #{pageStart}, #{perPageNum}
        ]]>
    </select> -->


     <!--  <select id="listPaging" resultMap="ArticleResultMap">
        <![CDATA[
        SELECT
            article_no,
            title,
            content,
            writer,
            regdate,
        FROM
            (
                SELECT /*+ INDEX_DESC(study.tbl_article(article_no))*/
                       ROWNUM RN,
                       article_no,
                       title,
                       content,
                       writer,
                       regdate,
                       viewcnt
                FROM study.tbl_article
                WHERE
        ]]>
                <include refid="criteria"></include>
        <![CDATA[
                        article_no > 0 AND ROWNUM > 0 AND ROWNUM <= (#{pageNum} * #{amount})
            )
        WHERE RN > (#{pageNum} - 1) * #{amount}
        ]]>
    </select> -->

<!--     <select id="getTotalCount" resultType="int">
        select count(article_no) from study.tbl_article WHERE
        <include refid="criteria"></include>
        <![CDATA[
        article_no > 0
        ]]>
    </select> -->
    
	<!-- <select id="category" resultMap="categoryMap">
		SELECT category_code
		      ,category_name
		  FROM tbl_category
	</select>  -->

	<select id="category" resultMap="categoryMap">
		SELECT  meet_category_code,category_code,category_name 
		FROM 	study.tbl_meet, study.tbl_category
		WHERE   meet_category_code = category_code
	</select>

	<resultMap id="categoryMap" type="CategoryVO">
		<result property="categoryCode" column="category_code"/>
		<result property="categoryName" column="category_name"/>
	</resultMap>


    <resultMap id="ArticleResultMap" type="ArticleVO">
        <result property="meetNo" column="meet_no"/>
        <result property="meetName" column="meet_name" />
        <result property="meetGroupName" column="meet_group_name" />
        <result property="meetRegistrationDate" column="meet_registration_date" />
        <result property="meetJibunAddress" column="meet_jibunaddress"/>
        <result property="meetCategoryCode" column="meet_category_code"/>
        <result property="meetStudyTime" column="meet_study_time"/>
        <result property="meetLevel" column="meet_level"/>
        <result property="meetCount" column="meet_count"/>
        <result property="meetDetail" column="meet_detail"/>
        <result property="meetPhone" column="meet_phone"/>
        <result property="meetDel" column="meet_del"/>

        
<!--         <result property="regDate" column="regdate" />
        <result property="viewCnt" column="viewcnt" /> -->
        <!-- <result property="replyCnt" column="reply_cnt" /> -->
    </resultMap>
    
    

</mapper>