<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.project.mappers.article.articleMapper">

    <sql id="criteria">
        <trim prefix="(" suffix=") AND">
            <foreach collection="typeArr" item="type" separator="OR">
            <!-- 제목 -->
                <if test="type == 'T'.toString()">
                    title like '%'||#{keyword}||'%'
                </if>
            <!-- 내용 -->
                <if test="type == 'C'.toString()">
                    content like '%'||#{keyword}||'%'
                </if>
            <!-- 작성자 -->
                <if test="type == 'W'.toString()">
                    writer like '%'||#{keyword}||'%'
                </if>
            </foreach>
        </trim>
    </sql>

    <insert id="create">
        <selectKey order="AFTER" keyProperty="articleNo" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO study.tbl_article (
            
              title
            , content
            , writer
            , regdate
            , viewcnt
        ) VALUES (
            	
               #{title}
             , #{content}
             , #{writer}
        )
    </insert>

    <select id="read" resultMap="ArticleResultMap" parameterType="Integer">
        SELECT
            article_no
             , title
             , content
             , writer
             , regdate
             , viewcnt
        FROM
            study.tbl_article
        WHERE article_no = #{articleNo}
    </select>

    <update id="update">
        UPDATE study.tbl_article
        SET
            title = #{title}
          , content = #{content}
          , writer = #{writer}
          , regdate = SYSDATE
          
        WHERE
            article_no = #{articleNo}
    </update>

    <delete id="delete">
        DELETE FROM study.tbl_article
        WHERE article_no = #{articleNo}
    </delete>

    <select id="listAll" resultMap="ArticleResultMap">
        <![CDATA[
        SELECT
            article_no,
            title,
            content,
            writer,
            regdate,
            viewcnt
        FROM study.tbl_article
        WHERE article_no > 0
        ORDER BY article_no DESC, regdate DESC
        ]]>
    </select>

   <!--   <select id="listPaging" resultMap="ArticleResultMap">
        <![CDATA[
        SELECT
            article_no,
            title,
            content,
            writer,
            regdate,
            viewcnt
        FROM
            (
                SELECT /*+ INDEX_DESC(study.tbl_article(article_no))*/
                       ROWNUM RN,
                       article_no,
                       title,
                       content,
                       writer,
                       regdate,
                       viewcnt
                FROM study.tbl_article
                WHERE
        ]]>
                <include refid="criteria"></include>
        <![CDATA[
                        article_no > 0 AND ROWNUM > 0 AND ROWNUM <= (#{pageNum} * #{amount})
            )
        WHERE RN > (#{pageNum} - 1) * #{amount}
        ]]>
    </select> -->

    <select id="getTotalCount" resultType="int">
        select count(article_no) from study.tbl_article WHERE
        <include refid="criteria"></include>
        <![CDATA[
        article_no > 0
        ]]>
    </select>

    <resultMap id="ArticleResultMap" type="ArticleVO">
        <result property="articleNo" column="article_no"/>
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="writer" column="writer" />
        <result property="regDate" column="regdate" />
        <result property="viewCnt" column="viewcnt" />
        <!-- <result property="replyCnt" column="reply_cnt" /> -->
    </resultMap>

</mapper>