<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.project.mappers.meet.meetMapper">
	<insert id="register">
		INSERT INTO study.tbl_meet(
							meet_name
							,meet_detail
							,meet_category_code
							,meet_group_name
							,meet_phone
							,meet_level
							,meet_count
							,meet_hit
							,meet_postcode
							,meet_roadaddress
							,meet_jibunaddress
							,meet_detailaddress
							,meet_study_time
		) VALUES (
				#{meetName},
				#{meetDetail},
				#{meetCategoryCode},
				#{meetGroupName},
				#{meetPhone},
				#{meetLevel},
				#{meetCount},
				0,
				#{meetPostcode},
				#{meetRoadAddress},
				#{meetJibunAddress},
				#{meetDetailAddress},
				#{meetStudyTime}
		)
	</insert>
	
	<select id="category" resultMap="categoryMap">
		SELECT category_code
		      ,category_name
		  FROM tbl_category
	</select>
	
	<resultMap id="categoryMap" type="CategoryVO">
		<result property="categoryCode" column="category_code"/>
		<result property="categoryName" column="category_name"/>
	</resultMap>
	
	<resultMap id="meetVOResultMap" type="MeetVO">
		<result property="meetName" column="meet_name"/>
		<result property="meetDetail" column="meet_detail"/>
		<result property="meetCategoryCode" column="meet_category_code"/>
		<result property="meetGroupName" column="meet_group_name"/>
		<result property="meetPhone" column="meet_phone"/>
		<result property="meetLevel" column="meet_level"/>
		<result property="meetCount" column="meet_count"/>
		<result property="meetHit" column="meet_hit"/>
		<result property="meetPostcode" column="meet_postcode"/>
		<result property="meetRoadAddress" column="meet_roadaddress"/>
		<result property="meetJibunAddress" column="meet_jibunaddress"/>
		<result property="meetDetailAddress" column="meet_detailaddress"/>
		<result property="meetStudyDate" column="meet_study_date"/>
		<result property="meetStudyTime" column="meet_study_time"/>
	</resultMap>
</mapper>