<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.project.mappers.meet.meetMapper">
	<insert id="register">
		INSERT INTO study.tbl_meet(
							meet_name
							,meet_detail
							,meet_category_code
							,meet_group_name
							,meet_phone
							,meet_level
							,meet_count
							,meet_hit
							,meet_dong
							,meet_gu
							,meet_study_date
							<!-- ,meet_study_time -->
		) VALUES (
				#{meetName},
				#{meetDetail},
				#{meetCategoryCode},
				#{meetGroupName},
				#{meetPhone},
				#{meetLevel},
				#{meetCount},
				0,
				#{meetDong},
				#{meetGu},
				#{meetStudyDate}
				<!-- #{meetStudyTime} -->
		)
	</insert>
	
	<resultMap id="meetVOResultMap" type="MeetVO">
		<result property="meetName" column="meet_name"/>
		<result property="meetDetail" column="meet_detail"/>
		<result property="meetCategoryCode" column="meet_category_code"/>
		<result property="meetGroupName" column="meet_group_name"/>
		<result property="meetPhone" column="meet_phone"/>
		<result property="meetLevel" column="meet_level"/>
		<result property="meetCount" column="meet_count"/>
		<result property="meetHit" column="meet_hit"/>
		<result property="meetDong" column="meet_dong"/>
		<result property="meetGu" column="meet_gu"/>
		<result property="meetStudyDate" column="meet_study_date"/>
		<result property="meetStudyTime" column="meet_study_time"/>
	</resultMap>
</mapper>