<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.project.mappers.user.userMapper">

    <insert id="register">
        INSERT INTO study.tbl_join (
                           join_id
                         , join_pass
                         , join_name
                         , join_email
                         , join_birth
                         , join_gender
                         , join_phone
                         , join_interests_code
                         , join_approval_status
                         , join_approval_key

        ) VALUES (
                #{joinId}
                 , #{joinPass}
                 , #{joinName}
                 , #{joinEmail}
                 , #{joinBirth}
                 , #{joinGender}
                 , #{joinPhone}
                 , #{joinInterestsCode}
                 , 'false'
                 , #{joinApprovalKey}
                 )
    </insert>

    <!-- 로그인 -->
    <select id="login" resultMap="userVOResultMap">
        SELECT *
        FROM study.tbl_join
        WHERE join_id = #{joinId}
    </select>

    <!--아이디 중복 검사-->
    <select id="check_id" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM study.tbl_join where join_id = #{joinId}
    </select>

    <!--Email 중복 검사-->
    <select id="check_email" parameterType="String" resultType="int">
        SElECT COUNT(*) FROM study.tbl_join where join_email = #{joinEmail}
    </select>

    <!-- Email 인증 -->
    <update id="approval_email" parameterType="UserVO">
        update study.tbl_join
           set join_approval_status = 'true'
         where join_email = #{joinEmail}
         and join_approval_key = #{joinApprovalKey}
    </update>

    <!-- 아이디 찾기 -->
    <select id="find_id" parameterType="String" resultType="String">
        select join_id from study.tbl_join where join_email = #{joinEmail}
    </select>

    <!-- 비밀번호 찾기 -->
    <select id="find_pw"  resultMap="userVOResultMap">
        select * from study.tbl_join where join_id = #{joinId} and join_name= #{joinName} and join_phone= #{joinPhone}
    </select>

    <!-- 비밀번호 변경 -->
    <update id="update_pw" parameterType="UserVO">
        update study.tbl_join set join_pass = #{joinPass} where join_id = #{joinId}
    </update>

    <resultMap id="userVOResultMap" type="UserVO">
        <result property="joinId" column="join_id"/>
        <result property="joinPass" column="join_pass"/>
        <result property="joinName" column="join_name"/>
        <result property="joinEmail" column="join_email"/>
        <result property="joinBirth" column="join_birth"/>
        <result property="joinRegistrationDate" column="join_registration_date"/>
        <result property="joinInterestsCode" column="join_interests_code"/>
        <result property="joinGender" column="join_gender"/>
        <result property="joinPhone" column="join_phone"/>
        <result property="joinApprovalStatus" column="join_approval_status"/>
        <result property="joinApprovalKey" column="join_approval_key"/>
        <result property="joinLeader" column="join_leader"/>
        <result property="joinAdmin" column="join_admin"/>
        <result property="joinTemp" column="join_temp"/>
        <result property="joinDel" column="join_del"/>

    </resultMap>


</mapper>