<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.project.mappers.notice.noticeMapper">
	<select id="getList" resultMap="noticeResultMap">
		<![CDATA[
			SELECT   notice_no
					,notice_name
					,notice_hit
					,notice_date
					,notice_comment_writer
					,notice_comment_date
					,notice_comment_content
			  FROM study.tbl_notice
			 WHERE notice_no > 0
			 ORDER BY notice_no DESC
		]]>
	</select>
	
	<select id="get" resultMap="noticeResultMap">
		<![CDATA[
		SELECT   notice_no
					,notice_name
					,notice_hit
					,DATE_FORMAT(notice_date, '%Y-%m-%d') as notice_date
					,notice_comment_writer
					,notice_comment_date
					,notice_comment_content
			  FROM study.tbl_notice
		]]>
			 WHERE notice_no = #{noticeNo}
		
	</select>
	
	<insert id="insert">
		INSERT INTO study.tbl_notice (
			notice_name,
			notice_comment_writer,
			notice_comment_content,
			notice_hit
		)VALUES(
			#{noticeName},
			#{noticeCommentWriter},
			#{noticeCommentContent},
			0
		) 
	</insert>
	
	<update id="update">
		UPDATE study.tbl_notice
		   SET  notice_name = #{noticeName}
		       ,notice_comment_writer = #{noticeCommentWriter}
		       ,notice_comment_content = #{noticeCommentContent}
		 WHERE notice_no = #{noticeNo}
	</update>
	<delete id="delete">
		DELETE FROM study.tbl_notice
		       WHERE notice_no = #{noticeNo}
	</delete>
	
	<resultMap type="NoticeVO" id="noticeResultMap">
		<result property="noticeCommentContent" column="notice_comment_content"/>
		<result property="noticeCommentDate" column="notice_comment_date"/>
		<result property="noticeCommentWriter" column="notice_comment_writer"/>
		<result property="noticeDate" column="notice_date"/>
		<result property="noticeHit" column="notice_hit"/>
		<result property="noticeName" column="notice_name"/>
		<result property="noticeNo" column="notice_no"/>
	</resultMap>
	
</mapper>